{% extends 'base.html' %}
{% block title %}Comparar{% endblock title %}
{% load humanize %}


{% block content %}
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Inicio </a>
          </li>
          <li class="breadcrumb-item active"> Comparar</li>
        </ol>
      </nav>
    </div>
  </section>

<!-- Work -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">Compara dos vehículos</h2>
  <div class="container">
    <div class="search">
      <form action="{% url 'comparar' %}">
        <div class="row">
          <div class="col-md-6">
            <hr>
            <!--Fabricante1-->
            {% comment %} <div class=" mb-3">
              <label class="sr-only">fabricante</label>
              <select name="fabricante1" class="form-control" onchange="this.form.submit()">
                <option selected="true" disabled="disabled">Fabricante (Todos)</option>
                <!--Ciclo for para options-->
                {% for listado in listados %}
                  <option value="{{listado.fabricante}}"> {{listado.fabricante}} </option>
                {% endfor %}
              </select>
              </select>
            </div> {% endcomment %}
            <div class=" mb-3">
              <label class="sr-only">vehiculo1</label>
              <select name="vehiculo1" class="form-control" >
                <option selected="true" disabled="disabled">Vehículo 1 (Todos)</option>
                {% for listado in listados %}
                    <option value="{{listado.titulo}}"
                    {% if vehiculo1 == listado.titulo %}
                            selected
                    {% endif %}> {{listado.titulo}} </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <hr>
            <!--Fabricante1-->
            {% comment %} <div class=" mb-3">
              <label class="sr-only">fabricante</label>
              <select name="fabricante1" class="form-control" onchange="this.form.submit()">
                <option selected="true" disabled="disabled">Fabricante (Todos)</option>
                <!--Ciclo for para options-->
                {% for listado in listados %}
                  <option value="{{listado.fabricante}}"> {{listado.fabricante}} </option>
                {% endfor %}
              </select>
              </select>
            </div> {% endcomment %}
            <div class=" mb-3">
              <label class="sr-only">vehiculo2</label>
              <select name="vehiculo2" class="form-control" >
                <option selected="true" disabled="disabled">Vehículo 2 (Todos)</option>
                {% for listado in listados %}
                    <option value="{{listado.titulo}}"
                    {% if vehiculo2 == listado.titulo %}
                            selected
                    {% endif %}> {{listado.titulo}} </option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <button class="btn btn-secondary btn-block mt-4" type="submit">Comparar</button>
      </form>
</section>

<section id="about" class="py-4">
  
  <div class="container">
    <div class="row">
      {% for listado in listados  %}
      {% if vehiculo1 == listado.titulo %}
      <div class="col-md-6">
        <img src="{{ listado.foto_principal.url }}" alt="car-images" class="card-img-top">
        <h2>{{listado.titulo}}</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><i class="fas fa-map-marker text-secondary"></i> {{ listado.ubicacion }}</p></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fabricante:</td>
              <td>{{listado.fabricante}}</td>
            </tr>
            <tr>
              <td>Transmisión:</td>
              <td>{{listado.transmision}}</td>
            </tr>
            <tr>
              <td>Combustible:</td>
              <td>{{listado.combustible}}</td>
            </tr>
            <tr>
              <td>Kilometraje</td>
              <td>{{listado.kilometraje | intcomma }}</td>
            </tr>
            <tr>
              <td>Condicion</td>
              <td>{{listado.condicion}}</td>
            </tr>
            <tr>
              <td>Precio</td>
              <td>${{listado.precio | intcomma}}</td>
            </tr>
            <tr>
              <td><a href="{% url  'listado' listado.id %}" class="btn btn-primary btn-block">Ver más</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      {% endfor %}

      {% for listado in listados  %}
      {% if vehiculo2 == listado.titulo %}
      <div class="col-md-6">
        <img src="{{ listado.foto_principal.url }}" alt="car-images" class="card-img-top">
        <h2>{{listado.titulo}}</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><i class="fas fa-map-marker text-secondary"></i> {{ listado.ubicacion }}</p></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fabricante:</td>
              <td>{{listado.fabricante}}</td>
            </tr>
            <tr>
              <td>Transmisión:</td>
              <td>{{listado.transmision}}</td>
            </tr>
            <tr>
              <td>Combustible:</td>
              <td>{{listado.combustible}}</td>
            </tr>
            <tr>
              <td>Kilometraje</td>
              <td>{{listado.kilometraje | intcomma }}</td>
            </tr>
            <tr>
              <td>Condicion</td>
              <td>{{listado.condicion}}</td>
            </tr>
            <tr>
              <td>Precio</td>
              <td>${{listado.precio | intcomma}}</td>
            </tr>
            <tr>
              <td><a href="{% url  'listado' listado.id %}" class="btn btn-primary btn-block">Ver más</a></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
